---
import { ABOUT_SECTION } from "../../../data/site";
---

<div class="relative reveal reveal-left">
    <img
        src={ABOUT_SECTION.image.src}
        alt={ABOUT_SECTION.image.alt}
        loading="lazy"
        class="rounded-[3rem] shadow-2xl w-full h-[600px] object-cover"
    />
</div>
